.example-container {
  height: 500px;
  overflow: auto;
}

table {
  width: 100%;
}

.totalAvailableTrains {
  padding-left: 100vh;
}

.availableClasses {
  font-weight: 500;
}

.data {
  font-weight: bold;
}

.trainsEndAt {
  padding-left: 150px;
}

.trainNo {
  padding-left: 925px;
}
